<div class="col-sm-6">
	<div class="form-horizontal">
		<div class="form-group">
			<label for="findEnemy" class="col-sm-4 control-label">Enemy: </label>
			<div class="col-sm-8">
				<select name="findEnemy" id="findEnemy" class="form-control">
					<option value=""></option>
					<% locationEnemies.forEach(function(enemy){ %>
						<option value="<%= enemy.enemyId %>"><%= enemy.name %></option>
					<% }); %>
				</select>
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-offset-4 col-sm-8">
				<button id="findEnemyButton" type="submit" class="btn btn-warning">Find Enemy!</button>
			</div>
		</div>
	</div>
</div>
<div class="col-sm-6">
	<% if (map.pvp){ %>
		<% if (locationPlayers.length != 0){ %>
			<div class="form-horizontal">
				<div class="form-group">
					<label for="attackPlayer" class="col-sm-4 control-label">Player: </label>
					<div class="col-sm-8">
						<select name="attackPlayer" id="attackPlayer" class="form-control">
							<option value=""></option>
							<% locationPlayers.forEach(function(player){ %>
								<option value="<%= player.playerId %>"><%= player.name %></option>
							<% }); %>
						</select>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-4 col-sm-8">
						<button id="attackPlayerButton" type="submit" class="btn btn-danger">Attack Player!</button>
					</div>
				</div>
			</div>
		<% } %>
	<% } else { %>
		<span>Player killing is forbidden in <%= map.name %>.</span>
	<% } %>
</div>