<h2>Welcome to Polemios, <%= player.name %>!</h2>
<h3>You are at <%= player.locationX %>, <%= player.locationY %> in <a href="/maps/<%= map.name %>" title="<%= map.description%>"><%= map.name %></a></h3>

<div class="row">
	<div class="col-sm-8">
		<dl class="dl-horizontal">
			<dt>Name:</dt>
			<dd><%= player.name %></dd>
			<dt>Race:</dt>
			<dd><%= player.race.name %></dd>
			<dt>Health:</dt>
			<dd><%= player.health %> / <%= player.maxHealth %></dd>
			<dt>Mint:</dt>
			<dd><%= player.mint %></dd>
		</dl>
		<a id="showHideInventory" href="" class="lead">Show Inventory</a>
		<ul id="inventory" class="list-unstyled hidden">
			<li>&nbsp;</li>
			<li class="lead">Weapons</li>
			<% if (typeof (player.weapons) == 'undefined' || player.weapons.length == 0){ %>
				<li>You have no weapons</li>
			<% } else { %>
				<% player.weapons.forEach(function(item){ %>
					<li>
						<%= item.name %> (Skill: <%= item.skill %>)
						<% if (item.equipLeft){ %>
							<a data-unequipleft="<%= item.playerWeaponId %>" href="">(in Left)</a>
						<% } else if (item.equipRight){ %>
							<a data-unequipright="<%= item.playerWeaponId %>" href="">(in Right)</a>
						<% } %>
						<% if (!player.equipLeft){ %>
							<a data-equipleft="<%= item.playerWeaponId %>" href="">(add to Left)</a>
						<% } %>
						<% if (!player.equipRight){ %>
							<a data-equipright="<%= item.playerWeaponId %>" href="">(add to Right)</a>
						<% } %>
					</li>
				<% }); %>
			<% } %>
			<li>&nbsp;</li>
			<li class="lead">Armour</li>
			<% if (typeof (player.armours) == 'undefined' || player.armours.length == 0){ %>
				<li>You have no armour</li>
			<% } else { %>
				<% player.armours.forEach(function(item){ %>
					<li>
						<%= item.name %> (Skill: <%= item.skill %>)
						<% if (item.equip){ %>
							<a data-unequipbody="<%= item.playerArmourId %>" href="">(on Body)</a>
						<% } %>
						<% if (!player.equipBody){ %>
							<a data-equipbody="<%= item.playerArmourId %>" href="">(add to Body)</a>
						<% } %>
					</li>
				<% }); %>
			<% } %>
		</ul>
	</div>
	<div class="col-sm-4 text-center">
		<div>
			<div class="btn-group">
				<button id="move-never" type="button" class="btn btn-primary" style="border-radius: 4px 4px 0 0;">N</button>
			</div>
		</div>
		<div>
			<div class="btn-group">
				<button id="move-weetbix" type="button" class="btn btn-primary">W</button>
				<button id="move-refresh" type="button" class="btn btn-primary"><i class="fa fa-refresh"></i></button>
				<button id="move-eat" type="button" class="btn btn-primary">E</button>
			</div>
		</div>
		<div>
			<div class="btn-group">
				<button id="move-soggy" type="button" class="btn btn-primary" style="border-radius: 0 0 4px 4px;">S</button>
			</div>
		</div>
	</div>
</div>

<form id="gameForm" method="POST" class="hidden"></form>

<div class="row">

	<% if (locationType == 'store'){ %>
		<div class="col-sm-12">
			<% include ./store %>
		</div>
	<% } else if (locationType == 'entrance'){ %>
		<div class="col-sm-12">
			<h4>This is the entrance to another map!</h4>
			
			//TODO Implementation Pending!
		</div>
	<% } else if (locationType == 'shrine'){ %>
		<div class="col-sm-12">
			<% include ./shrine %>
		</div>
	<% } else { %>
		<% include ./fight %>
	<% } %>
</div>

<% include ../errorBanner %>