<h2>Welcome to Polemios, <%= player.name %>!</h2>
<h3>You are at <%= player.locationX %>, <%= player.locationY %> in <a href="/maps/<%= map.name %>" title="<%= map.description%>"><%= map.name %></a></h3>

<dl>
	<dt>Name:</dt>
	<dd><%= player.name %></dd>
	<dt>Race:</dt>
	<dd><%= player.race.name %></dd>
	<dt>Health:</dt>
	<dd><%= player.health %></dd>
	<dt>Mint:</dt>
	<dd><%= player.mint %></dd>
</dl>

<strong>Inventory: </strong>
<ul>
<% player.inventory.forEach(function(item){ %>
	<li><%= item.name %></li>
<% }); %>
</ul>

<form id="gameForm" method="POST" class="hidden"></form>
<div class="row">
	<div class="col-xs-offset-8 col-sm-offset-10 col-xs-2 col-sm-1">
		<a id="move-never" href="" class="btn btn-primary">North</a>
	</div>
	<div class="col-xs-offset-6 col-sm-offset-9 col-xs-2 col-sm-1">
		<a id="move-weetbix" href="" class="btn btn-primary">West</a>
	</div>
	<div class="col-xs-2 col-sm-1">
		<a id="move-soggy" href="" class="btn btn-primary">South</a>
	</div>
	<div class="col-xs-2 col-sm-1">
		<a id="move-eat" href="" class="btn btn-primary">East</a>
	</div>
</div>

<div class="row">

	<% if (locationType == 'store'){ %>
		<div class="col-sm-12">
			<% include ./store %>
		</div>
	<% } else if (locationType == 'entrance'){ %>
		<div class="col-sm-12">
			<h4>This is the entrance to another map!</h4>
			
			//TODO Implementation Pending!
		</div>
	<% } else { %>
		<% include ./fight %>
	<% } %>
</div>

<% include ../errorBanner %>